<div class="container-fluid footer col-lg-12 vp-lg-top-3 vp-lg-bottom-3">
  <div class="row">
    <div class="social col-lg-6">
      <a href="https://kodieodie.exposure.co/">Exposure</a>
      <a href="https://instagram.com/kodieodie">Instagram</a>
      <a href="http://vsco.co/kody">VSCO</a>
      <a href="https://dribbble.com/kodieodie">Dribbble</a>
      <a href="https://twitter.com/kodieodie">Twitter</a>
    </div>
    <div class="col-lg-6">
      <span class="easter">👋</span>
    </div>
  </div>
</div>
