<div class="row col-lg-8 offset-lg-2 vp-lg-top-3 vp-lg-bottom-3">
  <div class="copyright col-lg-5">
    Copyright Kody {{"now"|date('Y')}}
  </div>
  <div class="col-lg-2 offset-lg-5">
    <span class="easter">☕️</span>
  </div>
</div>
