<div class="container-fluid footer col-lg-12 vp-lg-top-3 vp-lg-bottom-3">
  <div class="row">
    <div class="social col-lg-6">
      <a href="#">Exposure</a>
      <a href="#">Instagram</a>
      <a href="#">VSCO</a>
      <a href="#">Dribbble</a>
      <a href="#">Twitter</a>
    </div>
    <div class="col-lg-6">
      <span class="easter">👋</span>
    </div>
  </div>
</div>
