{% block site_nav %}
<nav class="container-fluid">
  <ul class="row main-nav left">
    <a href="http://kodieodie.exposure.com"></a>
  </ul>
  <ul class="row main-nav">
    <li class="brand"><a href="{{ site.url }}">k.d.is</a></li>
  </ul>
  <ul class="row main-nav right">
  {% for item in menu.get_items %}
    <li class="nav-main-item{{item.classes | join(' ')}}"><a class="nav-main-link" href="{{item.get_link}}">{{item.title}}</a></li>
  {% endfor %}
  </ul>
</div>
</nav>
{% endblock %}
