  <!--{% for post in posts %}
    {% include ['tease.twig',] %}
  {% endfor %}
-->

<section class="back-link vm-lg-top-7 vm-lg-bottom-7">
  <a href="{{ site.url }}"><h2 class="h3">← Back</h3></a>
</section>
