{% extends "tease.twig" %}

{% block content %}
<div class="row vp-lg-bottom-8">
	<h5 class="h5 col-lg-4">{{ post.post_date|date('F j Y') }}</h5>
	<h2 class="h3 col-lg-12">{{post.title}}</h2>
	<p class="col-lg-12">{{post.post_content|excerpt(47)}} <a class="read-link" href="{{post.link}}">Continue →</a> </p>
</div>
{% endblock %}
