{% extends "tease.twig" %}

{% block content %}
<a href="{{post.link}}">
	<h5 class="h5">{{ post.post_date|date('F j') }}</h5>
	<h4 class="h4">{{post.title}}</h4>
</a>
		<!--p>{{post.preview}}</p-->
{% endblock %}
