//mixins
$sans: "ff-tisa-sans-web-pro", sans-serif;
$mono: "Space Mono", mono;
$metamono: "hack", mono;

$primary: #324054;
$secondary: #8DB8ED;
$grey: #D6D9DD;
$white: #FEFAF9;

//setting up structure
body {
  @extend .container-fluid;
  font-family: $sans;
  font-size: 16px;
  color: $primary;
  background-color: $white;
}

//base styles
.sans {
  font-family: $sans;
}

.mono {
  font-family: $mono;
}

.meta {
  font-family: $metamono;
}

p {
  font-size: 1.125rem;
  line-height: 1.74rem;
  font-family: $sans;
}

a {
  text-decoration: none;
  color: inherit;
  transition: all .2s cubic-bezier(0.58, 0.18, 0.45, 1.29);
  &:hover {
    background-color: yellow;
    text-decoration: none;
    padding-right: 1.4rem;
    //background-color: $primary;
  }
}

.h1 {}
.h2 {}
.h3 {
  font-family: $mono;
  font-size: 1.125rem;
  line-height: 1.77rem;
  color: $primary;
  font-weight: bold;
}
.h4 {}
.h5 {
  font-family: $metamono;
  font-size: 0.625rem;
  text-transform: uppercase;
  letter-spacing: 0.2083333125rem;
}


//navigation
.main-nav {
  font-family: $mono;
  list-style: none;
  position: fixed;
  .brand {
    top: 1.44rem;
    transform: translatex(46vw);
    font-family: $mono;
    font-size: 1.2rem;
    text-align: center;
  }
  &.left {
    position: fixed;
    top: 1.64rem;
    left: 0.25rem;
    a {
      margin-left: none;
      width: 1.25rem;
      height: 1.25rem;
      background-image: url('../../src/img/camera.svg');
      background-size: cover;
    }
  }
  &.right {
    position: fixed;
    top: 1.44rem;
    right: 3.2rem;
    .nav-main-item {
      margin-left: 1.2rem;
      list-style: none;
    }
  }
}

//footer {
.footer {
  border-top: 1px solid $grey;
  .social {
    padding-left: 1rem;
    a {
      font-family: $mono;
      font-size: 0.875rem;
      margin-right: 2.4rem;
      display: inline-block;
      transition: all .2s cubic-bezier(0.58, 0.18, 0.45, 1.29);
      &:hover {
        //transform: translatex(.4rem);
        padding-right: 1.4rem;
      }
    }
  }
  .easter {
    right: 1rem;
    position: absolute;
    text-align: right;
  }
}

//home posts
.home-feed {
  margin-top: 22rem;
  border-bottom: none;
}

.tease {
  display: block;
  .h3 {
    padding-bottom: .5rem;
  }
  p {
    padding-bottom: 1.25rem;
    transition: all .2s cubic-bezier(0.58, 0.18, 0.45, 1.29);
  }
  &:hover {

  }
  .read-link {
    transition: ease-in-out;
    &:hover {
      background-color: yellow;
    }
  }
}
