//mixins
$sans: "ff-basic-gothic-web-pro", sans-serif;
$mono: "hack", mono;
$serif: "Bagnard Web", serif;

$primary: #324054;
$secondary: #8DB8ED;
$grey: #D6D9DD;
$white: #FEFAF9;

//setting up structure
body {
  @extend .container-fluid;
  font-family: $sans;
  font-size: 16px;
  color: $primary;
  background-color: $white;
}

//base styles
.serif {
  font-family: $serif;
}

.sans {
  font-family: $sans;
}

.mono {
  font-family: $mono;
}

p {
  font-size: 1.24rem;
}

a {
  text-decoration: none;
  color: inherit;
  transition: all .2s cubic-bezier(0.58, 0.18, 0.45, 1.29);
  &:hover {
    //color: $white;
    text-decoration: none;
    //background-color: $primary;
  }
}
//navigation
.main-nav {
  font-family: $mono;
  list-style: none;
  position: fixed;
  .brand {
    position: fixed;
    top: 1rem;
    left: 1.3rem;
    font-family: $serif;
    font-size: 1.2rem;
  }
  &.right {
    position: fixed;
    top: 1rem;
    right: 3.2rem;
    .nav-main-item {
      margin-left: 1.2rem;
      list-style: none;
    }
  }
}

//lead-in paragraph
.hero {
  margin-top: 40vh;
  h1 {
    font-size: 2rem;
    line-height: 1.435em;
    a {
      font-weight: 700;
    }
  }
  h5 {
    width: 95%;
    overflow: scroll;
    white-space: nowrap;
    border-top: 1px solid rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(0,0,0,0.1);
    font-size: .9rem;
    text-transform: uppercase;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin: 4rem 0 2.75rem 0;
    .serif {
      font-size: 1.1rem;
      text-transform: none;
      letter-spacing: 0;
      font-weight: 400;
    }
  }
}

//home posts
.home-feed {
  margin-top: 1.25rem;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  .more {
    font-size: 1.2rem;
    background-color: $secondary;
    padding: .5rem 1rem;
    box-sizing: border-box;
    border-radius: 0;
    position: relative;
    text-align: center;
    margin: 0 auto;
    transform: translatey(50%);
  }
}
